[Desktop Entry]
Type=Application
Exec=fb show
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_IN]=feedback
Name=feedback
Comment[en_IN]=
Comment=
